@import "tailwindcss";

/* vars */
:root {
  /* colors (light mode) */
  --accent: #5060df;
  --accent-muted: #5060df75;
  --bg-primary: #f0f0f0;
  --bg-secondary: #e4e4f4;
  --bg-tertiary: #d8d8e8;
  --text-primary: #101010;
  --text-secondary: #404050;
  --text-tertiary: #70708f;

  /* fonts */
  --font-display: "Bricolage Grotesque", sans-serif;
  --font-sans: "Inter", Arial;
  --font-code: "Fira Code", Arial;

  /* spacing */
  --p-xxs: 0.25rem;
  --p-xs: 0.5rem;
  --p-sm: 0.75rem;
  --p-md: 1.5rem;
  --p-lg: 3rem;
  --p-xl: 6rem;
}

/* js theme override (light mode, default) */
/* see `:root` above */
/*-------*/
/*[data-theme="light"] {
  --accent: #5060df;
  --accent-muted: #5060d075;
  --bg-primary: #f0f0f0;
  --bg-secondary: #e4e4f0;
  --bg-tertiary: #d8d8e8;
  --text-primary: #101010;
  --text-secondary: #404050;
  --text-tertiary: #70708f;
}*/
/* js theme override (dark mode) */
[data-theme="dark"] {
  --accent: #90a0ff;
  --accent-muted: #90a0ff75;
  --bg-primary: #050505;
  --bg-secondary: #080818;
  --bg-tertiary: #0f0f2f;
  --text-primary: #e0e0e0;
  --text-secondary: #ccccd0;
  --text-tertiary: #8a8aaf;
}
/*-------*/

/* theme mapping */
@theme inline {
  --color-accent: var(--accent);
  --color-accent-muted: var(--accent-muted);
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-bg-tertiary: var(--bg-tertiary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);
  --font-display: var(--font-display);
  --font-sans: var(--font-sans);
  --font-code: var(--font-code);
  --spacing-xxs: var(--p-xxs);
  --spacing-xs: var(--p-xs);
  --spacing-sm: var(--p-sm);
  --spacing-md: var(--p-md);
  --spacing-lg: var(--p-lg);
  --spacing-xl: var(--p-xl);

  /* shimmer animation for skeletons */
  --animate-shimmer-diagonal: shimmer-diagonal 3s cubic-bezier(0.4, 0, 0.6, 1)
    infinite;
  @keyframes shimmer-diagonal {
    0% {
      transform: translate(-100%, -100%);
    }
    25% {
      transform: translate(200%, 200%);
    }
    100% {
      transform: translate(200%, 200%);
    }
  }
}

/* styling */
@layer base {
  * {
    @apply m-0 p-0 box-border;
    transition: all 0.135s;
    /* <header> hight with padding and spacing (approx) */
    scroll-margin-top: 6.25rem;
    /*scrollbar-width: thin;*/
    /*scrollbar-color: var(--accent) var(--bg-secondary);*/
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-bg-primary text-text-primary font-sans overflow-x-hidden w-screen;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }

  button,
  a {
    @apply cursor-pointer;
  }

  a:not(:has(button)):not(.undecorated) {
    @apply text-accent w-fit inline;
    background-image: linear-gradient(var(--accent), var(--accent));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;

    &:hover {
      background-size: 100% 1px;
    }
  }

  /*a.undecorated {
    background-image: none !important;
    background-size: 0% 0% !important;
    text-decoration: none !important;
  }*/
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(135deg, var(--text-primary), var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  /* markdown (pages and articles) */
  .markdown {
    @apply flex flex-col gap-md text-text-secondary;

    h1 {
      @apply text-3xl;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-xl;
    }
    h4 {
      @apply text-lg;
    }

    ul {
      @apply list-disc marker:text-accent ml-md;
    }
    ol {
      @apply list-decimal marker:text-accent ml-md;
    }

    img {
      @apply max-w-3xl max-h-96 block m-auto;
    }

    code {
      @apply bg-bg-secondary p-xxs rounded-md font-code;
    }
    pre code {
      @apply block p-sm;
    }

    blockquote {
      @apply flex flex-col gap-xxs border-l-5 border-accent-muted p-sm rounded-md bg-bg-secondary;
    }

    .markdown-alert {
      @apply flex flex-col gap-xxs border-l-5 border-accent-muted p-sm rounded-md bg-bg-secondary;

      .markdown-alert-title {
        @apply text-xl font-display;
      }

      &.markdown-alert-danger {
        @apply border-red-400 bg-red-400/10;

        .markdown-alert-title {
          @apply text-red-500;
        }
      }
      &.markdown-alert-warning {
        @apply border-orange-400 bg-orange-400/10;

        .markdown-alert-title {
          @apply text-orange-500;
        }
      }
    }
  }

  table {
    /*@apply border-separate border-spacing-sm;*/

    th {
      @apply bg-bg-secondary font-display font-normal text-lg;
    }

    th,
    td {
      @apply p-sm border-b border-accent-muted;
    }

    tr > :first-child {
      @apply whitespace-nowrap rounded-l-md;
    }
    tr > :last-child {
      @apply rounded-r-md;
    }

    tr > :first-child {
      @apply whitespace-nowrap;
    }

    /*tr:nth-child(odd) {
      @apply bg-bg-tertiary;
    }*/

    tr:nth-child(even) {
      @apply bg-bg-secondary;
    }
  }

  /* stroked text */
  /*.text-stroke-lg {
    -webkit-text-stroke: 3px var(--accent);
    color: transparent;
  }
  .text-stroke-md {
    -webkit-text-stroke: 2px var(--accent);
    color: transparent;
  }
  .text-stroke-sm {
    -webkit-text-stroke: 1px var(--accent);
    color: transparent;
  }*/
}

/* animations */

/* shiny text animation */
@keyframes shiny {
  0%,
  70% {
    background-position: 150% center;
  }
  100% {
    background-position: -50% center;
  }
}
.shiny-text {
  display: inline-block;
  background-image: linear-gradient(
    120deg,
    var(--accent) 0%,
    var(--accent) 35%,
    #ffffff 50%,
    var(--accent) 65%,
    var(--accent) 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shiny 4s ease-in-out infinite;
}

/* spinning gradient border animation */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
.spin-border {
  /*border: 2px solid transparent;*/
  border-radius: var(--radius-md);
  background-image:
    linear-gradient(var(--bg-secondary), var(--bg-secondary)),
    linear-gradient(
      var(--angle),
      var(--accent),
      transparent,
      transparent,
      var(--accent)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  animation: 4s rotate linear infinite;
}

/* webkit/moz */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: color-mix(in srgb, var(--accent) 80%, transparent);
}

::selection {
  background-color: color-mix(in srgb, var(--accent) 30%, transparent);
  color: #fff;
}

::-moz-selection {
  background-color: color-mix(in srgb, var(--accent) 30%, transparent);
  color: #fff;
}
